.maker {
    width: 100%;
    max-width: 1000px;
    height: fit-content;
    margin: auto;
    background-color: #2f3542;
    display: flex;
    box-sizing: border-box;
    padding: 50px 100px 20px;

    /* flex-direction: column; */
    flex-direction: row;
}
.maker__column {
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 10px 10px;
    display: flex;

    align-items: center;
    flex-direction: column;
}
.maker__row {
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 10px 10px;
    display: flex;
    border: 1px solid #ff6b81;

    align-items: center;
    flex-direction: column;
}
.maker__row:last-of-type {
    margin-right: 0;
}
.maker__time { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.maker__date {
    color: white;
    font-size: 40px;
    width: 150px;
    text-align: center;
}
.maker__day {
    color: white;   
    font-size: 15px;
    font-weight: normal;
}
.lessons {
    display: flex;

    /* Обновления */
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    flex-direction: column;
}
.maker__add {
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    padding: 30px 40px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: #1e90ff;
    font-size: 20px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;   
    text-decoration: none;
}
.maker__add:hover {
    cursor: pointer;
}