.lesson {
    width: 80%;
    margin: 30px auto 0;
    background-color: #57606f;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 8px;
    position: relative;
}
.lesson__time {
    color: white;
}
.lesson__class {
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}
.lesson__theme {
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}
.lesson__teacher {
    display: flex;
    align-items: center;
    width: 100%;
}
.lesson__teacher-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #1e90ff;
    margin-right: 10px;
}
.lesson__teacher-name {
    color: white;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.lesson__room {
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: bolder;
    color: white;
}