.registration {
    width: 100%;
    height: fit-content;
    height: 500px;
    background-color: #dfe4ea;
    display: flex;
}
.registration__title {
    margin: 0 0 30px 0;
}
.registration__form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 85%;
    max-width: 250px;
}
.registration__item {
    margin: 0 auto 30px;
    width: 100%;
    position: relative;
}
.registration__item:last-of-type {
    margin-bottom: 10px;;
}
.registration__input {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 15px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    box-sizing: border-box;
    padding: 10px 50px 10px 50px;
}
.registration__icon {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 10px; /* position the left edge of the element at the middle of the parent */

    transform: translate(0, -50%); 
}
.registration__submit {
    width: 100%;
    margin: 20px auto 0;
    border-radius: 8px;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 20px 20px;
    color: white;
    background-color: #ff6b81;
    font-size: 15px;
    font-weight: bolder;
}
.registration__image {
    width: 100px;
    height: 100px;
    margin: 0 0 10px;
}
.registration__subtext {
    color: black;
    font-size: 15px;
    margin: 30px 0 0 0;
}
.registration__submit:disabled {
    opacity: .8;
}
.registration__side {
    position: absolute;
    top: 0;
    right: 10px;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    transform: translate(0, -50%); 
}
.registration__tool {
    width: 20px;
    height: 20px;
}
.registration__tool:last-of-type {
    margin-left: 5px;
}
.registration__advice {
    display: flex;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    border-left: 5px solid #ff4757;
    padding: 10px 5% 10px;
    background-color: rgba(255,71,87, .5);
}
.registration__advice::before {
    content: 'Пароль должен содерджать 1 цифру, 1 строчную букву, 1 заглавную букву, быть больше 8 символов';
}
.registration__advice-hidden {
    display: none;
}

/* Пароль должен содерджать 1 цифру, 1 строчную букву, 1 заглавную букву, быть больше 8 символов */